
body {
    font-family: var(--open_sans);
    color: var(--texto);
    background-color: var(--preto);
    line-height: 1.6;
}

a {
    color: var(--texto);
    text-decoration: none;
}

a:hover {
    color: var(--dourado);
}

#button {
    cursor: pointer;
    background-color: var(--dourado);
    color: var(--texto);
    border: 1px solid ;
}