/*desenvolver como mobile first*/
.cabecalho{
    background-color: var(--fundo);
    width: 100%;
    position:fixed;
    z-index: 1000;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--oswald);
    color: var(--texto);
    padding: 1em;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.menu-toggle {
    background-color: var(--fundo);
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--texto);
    z-index: 20;
}

.nav_menu {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: var(--fundo);
    padding: 2rem 1rem;
}


.nav_menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;
    text-align: center;
}

.cabecalho ul li a {
    color: var(--texto);
    font-size: var(--fonte_texto_menor);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease-in;
}

.cabecalho ul li a:hover {
    color: var(--dourado);
}

.nav_menu.menu-ativo {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo);
    z-index: 15;
    overflow-y: auto;
}

.button {
    background-color: var(--dourado);
    padding: 0.5em 1em;
    border: 1px solid var(--texto);
    border-radius: 30px;
    transition: color 0.3s ease-in;
}

.button:hover {
    background-color: var(--texto);
    color: var(--dourado);
}