
.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1em;
    overflow: hidden;
}


.servicos_titulo {
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--oswald);
}

.cards_servicos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}

.card {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    background-color: var(--cinza);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    font-size: 4rem;
    color: var(--dourado);
}

.card_titulo {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--oswald);
    margin-bottom: 1rem;
}

.card_conteudo {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza_claro);
    text-align: center;

}

.servicos_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 0.8em;
    width: 100%;
}

.servicos_cta_titulo {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--oswald);
}

.cta_subtitulo {
    font-size: 1rem;
    font-weight: 400;
    color: var(--cinza_claro);
}

.cta_button {
    background-color: var(--dourado);
    color: var(--texto);
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid var(--texto);
    transition: background-color 0.3s ease;
}